@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: none;
}
html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "poppinsRegular";
  src:  url("/static/fonts/PoppinsRegular.ttf") format('truetype')
}
@font-face {
  font-family: "poppinsMedium";
  src: url("/static/fonts/PoppinsMedium.ttf") format('truetype')
}
@font-face {
  font-family: "poppinsSemiBold";
  src:  url("/static/fonts/PoppinsSemiBold.ttf") format('truetype')
}
@font-face {
  font-family: "poppinsBold";
  src:  url("/static/fonts/PoppinsBold.ttf") format('truetype')
}
@font-face {
  font-family: "poppinsBlack";
  src:  url("/static/fonts/PoppinsBlack.ttf") format('truetype')
}
